body
{
   margin :0;
}

header{

    background-color: rgb(247, 211, 48);
}


main 
{
    float : left;
}

p 
{
    font-family: 'Francois One', sans-serif;
}

article
{
    display: block;
}

.aside1
{
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p 
{
    margin: .5rem;
}

/*Photo*/
.photoCv 
{
    border-radius: 50%;
    border-color: white;
    width : 10%;
    margin-left : 27%;
    margin-top : 1%;
}

/* Nom et prénom */
.nomPrenom
{
    font-family: 'Francois One', sans-serif;
    color: white;
    font-size : 240%;
    width: 55%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    margin-top:5%;
    
}