body 
{
    margin:0;
    background-color:  #1e272e;
}

/* Textes */
.titre
{
    font-family: 'Muli', sans-serif;
    font-size : 100%;
    color :#0fb9b1;
    margin-left: 20%;
}
.textePetit
{
    font-family: 'Muli', sans-serif;
    font-size : 50%;
}

.date
{
    font-family: 'Muli', sans-serif;
    font-size : 100%;
    font-weight: 900;
}

/*Grid container */
.grid-container 
{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    align-content: end;
    grid-template-rows: auto auto;
    grid-gap: 1px;
    padding: 0.5px;
    /*box-shadow: 1px 3px 5px 1px rgb(179, 177, 177);*/
}
  
.grid-container > div 
{
padding: 20px 0;
font-size: 30px;
  
}

/*Barre de navigation */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #1e272e;

}

.libar {
  float: right;
}

.libar a {
  display: block;
  color: rgb(156, 155, 155);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(236, 236, 236);
}

.active {
  background-color:#0fb9b0b0;
}

#prenom
{
    float : left;
}
/*Photo*/
.photoCv 
{
    border-radius: 1%;
    border-color: white;
    max-width : 20%;
    margin-left : 20%;
    margin-top : 2%;
    border: 3px solid rgb(255, 255, 255);
}

/* Nom et prénom */
.nomPrenom
{
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    /*color: rgb(255, 255, 255);*/
    color:#0fb9b1;
    font-size : 190%;
    width: 50%;
    float: right;
    margin-top:6%;
    
}

.div1
{
   /* background-color: #ff8c57;*/
    background-color:  #1e272e;
    /*background-image: linear-gradient(to bottom right,#ff5e57,#ff8c57);*/
}

.div2
{
    background-color: white;
    margin :0;
}

/*Réseaux sociaux */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    /*background: #007bb5;*/
    background: #007bb5;
    color: white;
  }

  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  /* Timeline*/
  /* The actual timeline (the vertical ruler) */
.timeline {
    font-family: Helvetica, sans-serif;
      position: relative;
      max-width: 1200px;
      margin: 10% auto;
    }
    
    /* The actual timeline (the vertical ruler) */
    .timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: #778ca3;
      top: 0;
      bottom: 0;
      left: 20%;
      margin-left: -3px;
    }
    
    /* Container around content */
    .container {
      padding: 5px 40px;
      position: relative;
      background-color: inherit;
      width: 70%;
    }
    
    /* The circles on the timeline */
    .container::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -17px;
      background-color: white;
      border: 4px solid #4b6584;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }
    
    /* Place the container to the right */
    .right {
      left: 20%;
    }
    
    
    /* Fix the circle for containers on the right side */
    .right::after {
      left: -16px;
    }
    
    /* The actual content */
    .content {
      padding: 1px 30px;
      background-color: rgba(165, 165, 165, 0.308);
      position: relative;
      border-radius: 6px;
      margin-right:15%;
    }

    .content h5
    {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(165, 165, 165, 0.308) transparent transparent;
  }
    

    