body
{
   margin :0;
   background-color:rgb(245, 245, 245);
   font-family: 'Roboto', sans-serif;
   color: #29627e;
   text-align:justify;

}

header
{
  background-image: url("fondbleu.png");
  /*font-family: 'Lobster', cursive;*/
  font-family: 'Open Sans', sans-serif;

  background-color: #cccccc; /* Used if the image is unavailable */
  height : 400px; /* You must set a specified height */
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
}

article
{
    display: block;
}



/*Partie projets*/
.projets
{
  width:40%;
  height:30%;
  margin-left:30%;
  margin-top:5%;
  background-color:white;
  padding-right: 3%;
  height: 150px;
}

.myImage 
{
  float: left;
  margin-right:5%;
  height: 150px;
  width: 20%;
}
.heading 
{
  float:right;
}


/*Partie Experiences professionnelles */
.exppro
{
  margin-top:10%;
  background-image: url("fondjaune.jfif");
  width:100%;
  height :600px;
  z-index:-1;
}

.exppro2
{
  margin-left:19%;
  width :60%;
  background-color :rgb(255, 255, 255);
  position :absolute;
  top:228%;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size:110%;
  padding-bottom: 4%;

}

.exppro3
{
  width :70%;
  margin : auto;
  
}

.logoge
{
  list-style: none;
  border-radius:50%;
  width:5%;
 
}

.logogepuce
{
  list-style-type:none;
  margin-bottom:3%;
}
/*Fin partie experiences professionnelles */

.titre
{
  font-size:500%;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: rgb(253, 253, 253);
  font-family: 'Lobster', cursive;
  
}

.partietitre
{
  /*font-family: 'Roboto', sans-serif; */
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Oswald', sans-serif;
  font-size:220%;
  color :#778beb; 
  text-align:center;
  margin-top:5%;
  margin-bottom:5%;
  font-size : 250%;
  letter-spacing: 0.05em;
}


/*Photo*/
.photoCv 
{
    border-radius: 50%;
    border :8px solid white;
    width : 13%;
    margin-left : 28%;
    margin-top : 4%;
}

/*Barre de navigation */
.navbar 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(245, 245, 245);
  z-index:2;
}

.libar {
  float :left;
  margin-left:15%;
}

.libar a {
  display: block;
  color: rgb(156, 155, 155);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(236, 236, 236);
}

.active {
  background-color: #f5ce799a;
}

#prenom
{
    float : left;
    
}
 
/*Partie Formation*/
.formation
{
  background-color: white;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-left:8%;
  margin-right: 8%;
  border-radius:1px;
}

.presentation
{
  font-family: 'Oswald', sans-serif;
  font-size:200%;
  letter-spacing: 0.05em;
 
}

.presentationContenu
{
  width:22%;
  float:left;
  margin-top:2%;
  margin-left:10%;
  font-size:110%;
  border-radius:1px;
  padding : 0% 3%;
  color:black;
}

.aside1
{
    margin-top:3%;
    width: 40%;
    padding-left: 4%;
    padding-right: 3%;
    margin-left: 45%;
    margin-bottom: 5%;
    border-left: 10px solid #7185ee;
    border-bottom: 10px solid #7185ee;
    font-style: italic;
    color: #29627e;
    border-radius:3px;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #3dc1d3;
  
   
}


/*Timeline*/
/* The actual timeline (the vertical ruler) */
.timeline 
{
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color:#f5f5f5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  margin-top:5%;
  margin-bottom: 5%;
  border-radius: 3px;

  
}

/* Container around content */
.container {
  padding: 0px 0px;
  position: relative;
  background-color: inherit;
  width: 43%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -59px;
  background-color: white;
  border: 6px solid#f5cd79;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}



/* Place the container to the left */
.left {
  left: 0;
  margin:0;
}

/* Place the container to the right */
.right {
  left: 56%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(119, 31, 31);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -57px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

/*Fin Timeline*/


/*Partie Formulaire */
.formulaire
{
  background-image: url("fondrosejaune.jpg");
  height : 500px;
  margin-top:10%;

  
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #f3bf4f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ecb337;
}

.formblanc
{
  width:50%;
  border-radius: 1px;
  background-color: white;
  padding: 20px;
  position:absolute;
  margin-left:25%;
  top:700%;
}

textarea {
  width: 100%;
  height: 110px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}


/*Réseaux sociaux */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
 
 
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    /*background: #007bb5;*/
    background: #007bb5;
    color: white;
    margin-left:45%;
    margin-top:-100px;
  }

  